:root {
  font-family: Whitney, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #dcddde;
  background-color: #2c2f33;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

#app {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #2c2f33;
  color: #dcddde;
}

a {
  font-weight: 500;
  color: #8ea1e1;
  text-decoration: inherit;
}

a:hover {
  color: #a5b4fc;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Keep dark theme regardless of OS theme. */